/*Второй блок*/
.secondBlockNums {
  display: flex;
  justify-content: space-between;

  margin-bottom: 120px;
}

.secondBlockBottom {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}
.secondBlockText {
  margin: auto 100px auto 0;
}

.secondBlockText Button {
  margin-top: 50px;
}

.pictures {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}
