/*Первый блок*/

.firstBlock {
  display: flex;
  gap: 44px;
  background-color: var(--color-green);
  padding: 60px 135px 120px;
}

.socialIcons {
  margin-bottom: 134px;
}
.firstBlockMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstBlockMiddle Button {
  margin-top: 50px;
  margin-bottom: 100px;
}

.firstBlockHeader {
  margin-top: 40px;
  margin-bottom: 20px;
}

.firstBlockRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}
.firstBlockArrowDown {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.arrowDownText {
  font-size: 14px;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);

  margin-top: 101px;
  margin-bottom: 15px;
}
