.aCustom {
  font-weight: 400;
  cursor: pointer;
}

.darkBlue {
  color: var(--color-dark-blue);
}
.white {
  color: var(--color-white);
}

.s14 {
  font-size: 14px;
  line-height: 14px;
}
.s16 {
  font-size: 16px;
  line-height: 16px;
}
.s22 {
  font-size: 22px;
  font-weight: 500;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}
.none {
  text-decoration: none;
}
