@import url("./mainPage/mainPageFirstBlock.css");
@import url("./mainPage/mainPageSecondBlock.css");
@import url("./mainPage/mainPageThirdBlock.css");
@import url("./mainPage/mainPageFourthBlock.css");
@import url("./mainPage/mainPageFifthBlock.css");

:root {
  --color-green: #10b582;
  --color-orange: #fa9f42;
  --color-dark-blue: #353a5a;
  --color-light-gray: #f7f7f7;
  --color-gray: #c2c0c0;
  --color-white: #fdfdfd;
}

* {
  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-white);
}

html {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}

body {
  width: 1440px;
  background-color: var(--color-light-gray);
  box-shadow: 0 0 20px gray;
  margin: 0;
}

a {
  text-decoration: none;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
span {
  position: relative;
  text-align: center;
}

.standartBlock {
  min-width: 900px;
  min-height: 500px;
  padding: 120px 135px;
}
